<nav class="navbar navbar-inverse bg-inverse navbar-toggleable-sm hidden-print" style="margin-bottom:20px">
    <div class="container"> <a class="navbar-brand">{{title}}</a>
        <ul class="nav navbar-nav active">
<!--            <li class="nav-item"><a routerLink="/lisa" 
                class="nav-link">Lisa Reporting</a>
            </li>
            <li class="nav-item"><a routerLink="/reports" 
                class="nav-link">Reports</a>
            </li>
            <li class="nav-item"><a routerLink="/tools" 
                class="nav-link">Tools</a>
            </li>
            <li class="nav-item"><a routerLink="/login" 
                class="nav-link">Login</a>
            </li> -->
        </ul>
    </div>
<!--    <mpfs-backend-status></mpfs-backend-status> -->
</nav>


<!--<div class="container">
    <router-outlet></router-outlet>
</div>-->

<h1>
  {{title}}
</h1>

<div markdown-to-html>
  # Markdown
  ## Markdown
</div>